html, body {
  height: 100%;
  width: 100%;
/*   THIS IS THE BACKGROUND COLOR */
  background: #205d6f;
}

.header {
  background: rgb(180,209,63);
  background: -moz-linear-gradient(90deg, rgba(180,209,63,1) 0%, rgba(140,204,63,1) 31%, rgba(165,197,98,1) 46%, rgba(210,212,56,1) 83%, rgba(140,204,63,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(180,209,63,1) 0%, rgba(140,204,63,1) 31%, rgba(165,197,98,1) 46%, rgba(210,212,56,1) 83%, rgba(140,204,63,1) 100%);
  background: linear-gradient(90deg, rgba(180,209,63,1) 0%, rgba(140,204,63,1) 31%, rgba(165,197,98,1) 46%, rgba(210,212,56,1) 83%, rgba(140,204,63,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b4d13f",endColorstr="#8ccc3f",GradientType=1);
  color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  }

  .container{
    width: 200px;
    background-color: antiquewhite;
    padding-bottom: 5px;
  }


  .holder{
    color: black;
    list-style-type: none;
  }

  .li{
    color: black;
    text-decoration: none;
    font-weight: 800;
  }